.object-fit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
       width: 18rem;
       height: 18rem;
    }
    video {
       width: 18rem;
       height: 18rem;
   }
}