.scrollspy-example{
    height: 17rem;
    overflow: auto;
}
.scrollspy-example-2 {
    height: 23rem;
    overflow: auto;
}
.simple-list-example-scrollspy a.active {
    color: var(--primary) !important;
}
.scrollspy .bg-body-tertiary {
    background-color: #eeee !important;
}