.accordion-button:not(.collapsed) {
    color: inherit;
    background: inherit;
}
.accordion-button.collapsed {
    border-bottom-width: 1px;
}
.accordion-button:focus{
	box-shadow:unset;
}
.accordion-body-text {
    padding: 0.875rem 0.75rem;
}
.accordion {
	// accordion primary
	&-primary{
		.accordion-button {
			font-size:1rem;
			&.collapsed{
				background: var(--primary);
				border-color: var(--primary);
				color:$white;
				box-shadow:none;
				 border-radius:$radius;
				@at-root [data-theme-version="dark"] & {
					background: var(--primary);
					border-color: var(--primary);
					color: $white;
				}
			}
			background: var(--primary);
			border-color: var(--primary);
			color: $white;
			box-shadow: 0 0.0375rem 0rem 0 var(--primary);
			border-radius:$radius;
			
		}
	}
	
	&-primary-solid{
		.accordion-button {
			&.collapsed{
				background: var(--primary);
				border-color: var(--primary);
				color: $primary;
				box-shadow:none;
				//border-bottom-left-radius:$radius;
				//border-bottom-right-radius:$radius;
				@at-root [data-theme-version="dark"] & {
					background: var(--primary);
					border-color: var(--primary);
					color:$body-color;
				}
			}
			background:$primary;
			border-color:$primary;
			color: $white;
			box-shadow:0 -0.625rem 1.25rem 0 var(--primary);
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
		}
		.accordion-body {
            border: 0.125rem solid $primary;
            border-top: none;
			box-shadow:0 0.9375rem 1.25rem 0 var(--primary);
			//border-bottom-left-radius:$radius;
			//border-bottom-right-radius:$radius;
		}
	}

	&-danger{
		.accordion-button {
			&.collapsed{
				background: $danger-light;
				border-color: $danger-light;
				color: #211c37;
				box-shadow:none;
			}
			background:$danger;
			border-color:$danger;
			color: $white;
			box-shadow:0 0.9375rem 1.25rem 0 rgba($danger, 0.15);
		}
	}
	
	&-danger-solid{
		.accordion-button {
			font-size:1rem;
			&.collapsed{
				background: $danger-light;
				border-color: $danger-light;
				color: #211c37;
				box-shadow:none;
				//border-bottom-left-radius:$radius;
				//border-bottom-right-radius:$radius;
				@at-root [data-theme-version="dark"] & {
					background: $danger-opacity;
					border-color: $danger-opacity;
					color:$body-color;
				}
			}
			background:$danger;
			border-color:$danger;
			color: $white;
			box-shadow:0 -0.625rem 1.25rem 0 rgba($danger, 0.15);
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
		}
		.accordion-body {
            border: 0.125rem solid $danger;
            border-top: none;
			box-shadow:0 0.9375rem 1.25rem 0 rgba($danger, 0.15);
			//border-bottom-left-radius:$radius;
			//border-bottom-right-radius:$radius;
		}
	}

	&-default {
		.accordion-button {
			background: inherit;
		}
	}

	//a single accrodion
    &-item {
        margin-bottom: 1.25rem;
        border: 0;
        background-color: transparent;
        &:first-of-type {
            .accordion-button {
               //border-radius:$radius $radius 0 0; 
            }
        }
        &:last-of-type {
            .accordion-button.collapsed {
                border-bottom-left-radius : $radius;
                border-bottom-right-radius: $radius;
            }
        }
    }

    //accrodion header styles
    &-button {
		padding: 0.688rem 0.75rem;
        border: 0.0625rem solid $border;
        cursor: pointer;
        position: relative;
        color: $heading;
        font-weight: 400;
		//border-radius:$radius;
		@include transitionMedium;
        @at-root [data-theme-version="dark"] & {
            color: $white!important;
            border-color: $d-border;
        }
        
        

        //set the indicator font family
        &-indicator {
            &.indicator_bordered {
                display: inline-block;
                width: 1.5625rem;
                text-align: center;
                height: 1.5625rem;
                border: 0.0625rem solid $border;
                border-radius: 50%;
                line-height: 1.5625rem;
            }
        }

        &:not(.collapsed){
			//color: inherit;
			&::after {
				content: "\e622";
				background-image:none;
				transform: rotate(0) translateY(-50%);
				
			}

			//icon style
			&.style_two {
				&::after {
					content: "\e648";
				}
			}
        }
		&::after {
			content: "\e61a";
			font-family: 'themify';
			position: absolute;
			right: 1.5625rem;
			top: 50%;
			transform: translateY(-50%);
			background-image: none !important;
			
			width: auto;
			height: auto;
			@at-root [direction="rtl"] & {
				 right:auto;
				 left: 1.5625rem;
			}
		}
        &.collapsed {
			

			//icon style
			&.style_two {
				&::after {
					content: "\e64b";
				}
			}
        }
    }

    //accordion body styles
    &-body {
            padding: 0.875rem 1.25rem;
			border-radius:0 0 $radius $radius;			    
    }
	
	&-collapse{
		border: 0;
	}
   
	//accrodion with border
    &-bordered {
        .accordion-body {
            border: 0.0625rem solid $border;
            border-top: none;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
            @at-root [data-theme-version="dark"] & {
                border-color: $d-border;
            }
        }
		.accordion-button.collapsed{
			border-radius:0;
		}
		.accordion-button{
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
		}
		
    }

    //accrodion without space
    &-no-gutter {
        .accordion-item {
            margin-bottom: 0;

            .accordion-button {
                &.collapsed {
                    border-bottom: none;
                }
            }

            &:last-child {
                .accordion-button {
                    border-bottom: 0.0625rem solid $border;
                    @at-root [data-theme-version="dark"] & {
                        border-color: $d-border;
                    }
                }
            }
            
        }
    }

    //not gutter and bordered
    &-no-gutter.accordion__bordered {
        .accordion-item {
            &:not(:last-child) {
                .accordion__body {
                    border-bottom: none;
                }
            }
        }
    }

    //indicator in left positon
    &-left-indicator {
        .accordion-button {
            &-text {
                padding-left: 2.5rem;
            }

			.accordion-header-indicator{
                right: auto;
                left: 1.5625rem;
            }
        }
    }

    //with icon
    &-with-icon {
        .accordion-button {
            &-text {
                padding-left: 2.5rem;
				@at-root [direction="rtl"] & {
					padding-left: 0;
					padding-right: 2.5rem;
				}
            }
			
			.accordion-header{
				&-icon {
					position: absolute;
					right: auto;
					left: 1.5625rem;
					font-family: 'themify';
					@at-root [direction="rtl"] & {
						left: auto;
						right: 1.5625rem;
					}
					&:before {
						content: "\e645";
					}
				}
				&-text{
					padding-left:2.5rem;
				}
			}
        }

    }

    //with header background
    &-header-bg {
        .accordion-header {
			.accordion-button{
				background-color: $light;
				@at-root [data-theme-version="dark"] & {
					background-color: $d-bg;
				}
			}
            
            
            &-primary {
				.accordion-button{
					background-color: $primary;
					color: $white;
					border-color:$primary;
					@at-root [data-theme-version="dark"] & {
						background-color: $primary;
					}
				}
            }
            
            &-info {
				.accordion-button{
					background-color: $info;
					color: $white;
					border-color:$info;
					@at-root [data-theme-version="dark"] & {
						background-color: $info;
					}
				}
            }

            &-success {
				.accordion-button{
					background-color: $success;
					color: $white;
					border-color:$success;
					@at-root [data-theme-version="dark"] & {
						background-color: $success;
					}
				}
            }
        }
    }

    //with header background and no space
    &-header-bg.accordion-no-gutter {
        .accordion-button {
            border-color: transparent;
			border-radius: 0;
        }
		.accordion-item{
			&:first-child{
				.accordion-button{
					border-top-left-radius:0;
					border-top-right-radius:0;
				}
			}
			&:last-child{
				.accordion-button{
					border-bottom-left-radius:0;
					border-bottom-right-radius:0;
				}
			}
		}
    }
	
	&.accordion-no-gutter {
        .accordion-button {
            border-radius: 0;
			font-size:1rem;
        }
		.accordion-button.collapsed {
			border-radius: 0;
		}
		.accordion-body{
			border-radius: 0;
		}
		.accordion-item{
			&:first-child{
				.accordion-button{
					border-top-left-radius:0;
					border-top-right-radius:0;
				}
			}
			&:last-child{
				.accordion-button.collapsed{
					border-bottom-left-radius:0;
					border-bottom-right-radius:0;
				}
				.accordion__body{
					border-bottom-left-radius:0;
					border-bottom-right-radius:0;
				}
			}
		}
    }
	&.accordion-danger-solid{
		.accordion-button{
			&.collapsed{
				
			}
		}
	}
    
	//with solid background
    &-solid-bg {
        .accordion-button {
            border-color: transparent;
            background-color: var(--primary);
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			color:$white;
			
            @at-root [data-theme-version="dark"] & {
                background-color: $d-bg;
            }
			&.collapsed{
				//border-radius:0;
			}
        }
		
        .accordion-body {
            border-color: transparent;
            background-color: var(--primary);
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			color:$white;
            @at-root [data-theme-version="dark"] & {
                background-color: $d-bg;
            }
        }
    }

    //active header styles
    &-active-header {
        .accordion-button {
			
            &:not(.collapsed) {
                background-color: $info;
                border-color: $info;
                color: $white;
				box-shadow:unset;
            }
        }
    }

    //shadow in header
    &-header-shadow {
        .accordion-button {
            border: none;
            box-shadow: 0 0 0.9375rem -0.1875rem rgba($color: $black, $alpha: .3);
        }
    }

    //stylishly rounded borders
    &-rounded-stylish {
        .accordion-button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .accordion__body {
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
        }
    }

    //smothly rounded accrodion header
    &-rounded {
        .accordion-button {
            border-radius:0;
        }
    }

    //accordion gradient
    &-gradient {
        .accordion-button {
            color: $white;
            background-image: linear-gradient(to right, rgba(186, 1, 181, 0.85) 0%,rgba(103, 25, 255, .85) 100%);
            border-color: transparent;
			border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
			&.collapsed{
				border-bottom-left-radius: 0;
				border-bottom-right-radius:0;
			}
        }

        .accordion-body {
            color: $white;
            background-image: linear-gradient(to right, rgba(186, 1, 181, 0.85) 0%,rgba(103, 25, 255, .85) 100%);
            border-color: transparent;
        }
    }
	
	&-header-bg{
		.accordion-button,
		.accordion-body{
			border-radius:0;
			
			&.collapsed{
				border-radius:0;
			}
		}
	}
	
}

.dzm-tabs{
	padding:4px;
    border-radius:$radius-sm;
    background-color: var(--rgba-primary-1);
    border: none;
    flex-wrap: nowrap;
	
	.nav-item{
		.nav-link{
			border-radius:4px;
			&.active{
				background:var(--primary)!important;
				color: $white;
				border:1px solid transparent;
				
			}
			&:hover{
				border-color: transparent;
			}
		}
	}
	@include respond ('phone'){
		//margin-top:1rem;
		margin-top: 10px;
	}
}
.unorder-list{
	li{
		list-style: unset;
		
	}
	@include respond ('tab-port'){
	
		padding-left:2rem;
	}
}
.order-list{
	li{
		list-style-type:unset;
	}
}
.text-justify{
	text-align:justify;
}
.accordion-item{
	background-color:transparent;
}

///////sidebar demo
.demo-right-inner {
	overflow: hidden;
    
	h4{
		padding: 1rem 1.5rem;
		font-size: 1rem;
		padding-bottom:0;
		margin-bottom: 0;
    }
    li{
        font-size: 1rem;

		position:relative;
        a{
            display: block;
			padding: 0.5rem 1.5rem;
			font-size: 14px;
			line-height: 1.5;
			width: 270px;
			
			
        }
		&:after{
				content:"";
				position:absolute;
				background-color:$light;
				width:5px;
				height:5px;
				border-radius:100%;
				top:18px;
				left:-10px;
				
			}
    }
}
.demo-right-tabs{
	//height: calc(100vh - 225px);
	margin : 0;
	padding: 0px;
    padding-top: 5px;
	ul{
		list-style: none;

	}
}
.navbar-nav{
	.active{
		.scroll{
			font-weight:500;
			color:var(--primary);
			//background: var(--rgba-primary-2);
			//padding: 9px 10px;
			//border-radius: 6px;
		}
		&:after{
			background-color:var(--primary);
		}
		
			
		
	}
}
.element-wrapper{
    display: flex;
    border-radius: 8px;
    border: 1px solid #E9ECEF;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(166, 185, 204, 0.10);
	margin-bottom: 1rem;

    .demo-view{
        width: calc(100% - 270px);
		border-left: 1px solid #E9ECEF;
		background: #FBFBFB;
		@include custommq($max:100rem){
			width: calc(100% - 236px);
		}	
        @include respond("tab-land"){
            width: calc(100% - 224px)
        }
        @include respond('tab-port'){
            width: 100%;
        }
        @include respond ('phone-land') {
			width: 100%;
			.container-sm{
				padding:0;
			}
		}   
		
    }
    .element-right{
		padding: 0;
		background-color: #fff;
		border-radius: 0.5rem 0 0 0.5rem;
		
		width: 16.875rem;
		position: sticky;
		top: 80px;
		height:100%;
		z-index: 2;
    
		@include respond("tab-land"){
            width: 15.875rem;
        }
        @include respond('tab-port'){
          display: none;
        }
        @include respond('phone-land') {
            display: none;    
        }      
    }
    .demo-right.sticky{
        top: 100px;
        transition: 0.5s;
    }
}
.clockpicker-popover{
	position: absolute;
}


#lightgallery{
	img{
		border-radius:$radius;
	}
}
.list-group-item.active{
	color: $white;
}
.accordion{
	--bs-accordion-border-width:0;
}	

.demo-view{
	& >	.container-fluid{
		padding: 0;
	}
	.dz-card{
		border: 0;
		box-shadow: none;
		border-radius: 0;
		height: auto;
		border-bottom: 1px solid rgba(0,0,0,0.05);
		margin-bottom: 0;
		
		.card-header{
			padding: 30px 30px 0px;
		}
		.card-body{
			padding: 30px !important;
		}
	}
	.card-title{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		color: #1F2025;
	}
	@include respond ('phone'){
		.dz-card{
			.card-header{
				padding: 1rem 1rem 0px;
			}
			.card-body{
				padding: 1rem !important;
			}
		}
	}
}