.email-left-box {

	@include respond('phone-land') {
		width: 100%;
		float: none;
        border: none;
		padding-bottom: 1.875rem;
	}

    .intro-title{
        background: var(--rgba-primary-1);
        padding: 1rem;
        margin: 1.875rem 0 1.25rem 0;

        h5{
            margin-bottom: 0;
            color: #6a707e;
            font-size: 0.875rem;

            i{
                font-size: 0.75rem;
                position: relative;
                bottom: 0.0625rem;
            }
        }

        i{
            color: var(--primary);

        }
    }
}
.email-right-box {
    padding-left: 15rem;
    padding-right: 1rem;

    @include media-breakpoint-between(sm, md) {
        padding-left: 0;
		padding-right:0;
		margin-left: 0;
		clear:both;
	}

    @include media-breakpoint-down(xs) {
        padding-left: 0;
        padding-right: 0;
    }

    .right-box-border{
        border-right: 0.125rem solid var(--rgba-primary-1);
    }

    .right-box-padding{

        @media screen and (min-width: 40.5625rem) and (max-width: 75rem){
            padding-left: 1.25rem;
        }

        @media(min-width: 106.25rem){
            padding-left: 0.9375rem;
        }
		@include media-breakpoint-between(sm, md) {
			padding-left: 0;			
		}
    }
}

.email-toolbar {
    display: flex;
    align-items: center;
    margin: 0 0.8rem;
    .btn-group {
        .btn {
           
            border: 0;
        }
        input{
            position: relative;
            top: 0.125rem;
        }
    }
}

.read-content {
    textarea {
        height:9.375rem;
		padding: 0.9375rem 1.25rem;
		border-radius:$radius;
    }

    &-email{
        font-size: 0.875rem;
    }

    h5{
        color: #6a707e;
    }

    p{

        strong{
            color: #6a707e;
        }
    }

    &-body{

        p{
            margin-bottom: 1.875rem;
        }
    }

    &-attachment{
        padding: 0.5rem 0;

        h6{
            font-size: 1.125rem;
            color: #6a707e;

            i{
                padding-right: 0.3125rem;
            }
        }

        .attachment{

            & > div:not(:last-child){
                border-right: 0.0625rem solid $border;
            }
        }
    }
}  

.compose-content {
    .wysihtml5-toolbar {
        border-color: $border;
    }
    .dropzone {
        background:$body-bg;
    }

    h5{
        font-size: 1.0625rem;
        color: #6a707e;

        i{
            font-size: 1.125rem;
            transform: rotate(90deg);
        }
    }

    .dropzone{
        border: 0.0625rem dashed $border;
        min-height: 13.125rem;
        position: relative;
		border-radius:$radius;

        .ic-message{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.email-list {
    display: block;
    padding-left: 0;

    .message {
        position: relative;
        display: block;
        height: 3.125rem;
        line-height: 3.125rem;
        cursor: default;
        transition-duration: 0.3s;
        border-bottom: 1px solid $border;
        a {
            color: $l-ctl;
        }

        &-single{
           
            &.style-1,
            &.style-2,
            &.style-3,
            &.style-4{
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    background-color: var(--primary);
                    top:0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                }
            }
            &.style-2{
                &:after{
                    background-color: $success;
                }
                
            }
            &.style-3{
                &:after{
                    background-color: $warning;
                }
                
            }
            &.style-4{
                &:after{
                    background-color: $info;
                }
                
            }
           
            .custom-checkbox{
                margin-top: 0.125rem;
                margin-left:0.625rem;
            }

            i{
                color: $muted;
                font-size: 1.125rem;
                padding-left: .4rem;
            }


        }


        &:hover {
            transition-duration: 0.05s;
            background: rgba(152, 166, 173, 0.15);
        }

        .col-mail {
            float: left;
            position: relative;
        }

        .col-mail-1 {
            width: 5.625rem;

            .star-toggle {
                display: block;
                float: left;
                margin-top: 1.125rem;
                font-size: 1rem;
                margin-left: 0.3125rem;
            }

            .email-checkbox {
                display: block;
                float: left;
                margin: 0.9375rem 0.625rem 0 1.25rem;
            }

            .dot {
                display: block;
                float: left;
                border: .4rem solid transparent;
                border-radius: 6.25rem;
                margin: 1.375rem 1.625rem 0;
                height: 0;
                width: 0;
                line-height: 0;
                font-size: 0;
            }
        }

        .col-mail-2 {
            position: absolute;
            top: 0;
            left: 5.625rem;
            right: 0;
            bottom: 0;

            .subject {
                position: absolute;
                top: 0;
                left: 0;
                right: 5.5rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .date {
                position: absolute;
                top: 0;
                right: 1.5rem;
            }
        }
    }
}

.email-checkbox {
    cursor: pointer;
    height: 0.9375rem;
    width: 0.9375rem;
    position: relative;
    display: inline-block;
    border-radius: .1rem;
    position: relative;
    top: 0.3125rem;
    box-shadow: inset 0 0 0 .1rem $l-ctl;

    input {
        opacity: 0;
        cursor: pointer;

        &:checked {
            label {
                opacity: 1;
            }
        }
    }

    label {
        position: absolute;
        top: .3rem;
        left: .3rem;
        right: .3rem;
        bottom: .3rem;
        cursor: pointer;
        opacity: 0;
        margin-bottom: 0 ;
        transition-duration: 0.05s;
    }
}



.chat-wrap{
    padding: 1.0625rem 1.875rem;

    .media{

        .media-body{

            h6{
                font-size: 1.0625rem;
                color: #6a707e;
            }

            p{
                font-size: 0.875rem;
            }
        }
    }
}

.email-filter{

    @media (min-width: 40.5rem){
        padding-left: 1.25rem;
    }

    @media(min-width: 106.25rem){
        padding-left: 1.875rem;
    }

    .input-group{

        &-prepend{
            
            i{
                font-size: 0.875rem;
                color: $muted;
            }

            .input-group-text{
                border: 0;
                border-bottom: 0.0625rem solid #DDDFE1;
                background: transparent;
            }
        }

        .form-control{
            padding: 0 0 0 0.3125rem;
            border: 0;
            font-size: 0.875rem;
            height: 1.875rem;
            color: $muted;
            border-bottom: 0.0625rem solid #DDDFE1;

            &::placeholder{
                font-size: 0.875rem;
                color: $muted;
            }
        }

        & > .form-control{
            min-height: 1.875rem;
        }
    }
}

.single-mail{
    display: block;
    padding: 1.5625rem 0;

    .media{
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @media(min-width: 106.25rem){
            padding-left: 1.875rem;
            padding-right: 1.875rem;
        }

        img{
            width: 3.4375rem;
            height: 3.4375rem;
            border-radius: 50%;
            margin-right: 0.9375rem;

            @media(min-width: 106.25rem){
                margin-right: 1.875rem;
            }
        }

        &-body{

            h6{
                color: #abafb3;
            }

            h4{
                font-size: 1rem;
                color: #6a707e;

                button{

                    i{
                        font-size: 1.125rem;
                        color: #abafb3;
                        font-weight: bold;
                        transform: rotate(90deg);
                    }
                }
            }

            p{
                font-size: 0.875rem;
                color: #abafb3;
            }
        }
    }

    &.active{
        background: var(--primary);

        h6,h4,p,i{
            color: $white;
        }
    }
}

@include respond ('tab-land'){
    .mail-left-body{
        &.dz-resp-tab{
            width: 18rem;
            position: fixed;
            height: 100vh;
            z-index: 2;
            transition: all 0.5s;
            left: -22rem;
            top: 0px;
            z-index: 999;
            display: block;
            &.active{
                left:0;
                background: $border-color;
                transition:all 0.5s;
                overflow-y:scroll;
                
            }
        
        }
    }
   
}
@include respond ('phone-land'){
	.mail-left-body{
		width: 18rem;
		position: fixed;
		height: 100%;
		z-index: 2;
		transition: all 0.5s;
		left: -22rem;
		top: 0px;
		z-index: 999;
		&.active{
			left:0;
			background: $border-color;
			transition:all 0.5s;
			overflow-y:scroll;
			
		}
	}
}

.email-tools-box,
.dz-resp-tool{
	display:inline-block;
	width:2.5rem;
	height:2.5rem;
	line-height:2.5rem;
	text-align:center;
	background-color:var(--rgba-primary-1);
	border-radius:$radius;
	color:var(--primary);
    display: none;
	
	&.active{
		background-color:$primary;
		color:$white;
	}
	
	
	@include respond ('phone-land'){
		display:inline-block;
		margin-left:auto;
	}
 
	&.active{
		&:before{
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: #000;
			opacity: 0.2;
			
			z-index: 4;
		}
	}
}
@include respond ('tab-land'){
    .dz-resp-tool{
        display:inline-block;
        margin-left:auto;
    }
   
}

// }
.mail-list {
    margin-top: 1.25rem;
	border-bottom :1px solid $border;
	padding-bottom:1.25rem;
	
    a {
        border: 0;
        vertical-align: middle;
        padding: 0.625rem 0.9375rem;
        display: block;
        background: transparent;
        color: var(--text-dark);
        font-weight: 600;
        z-index: 1;
    }
    
    .change {
        color: #666666;
        font-weight: 500;
    }
    
    .list-group-item{
        border-radius: $radius;
        padding: 0.65rem 0.5rem 0.65rem 1rem;
        font-size: 0.938rem;
        font-weight: 400;
        margin-bottom: 0.225rem;
        overflow: hidden;
		display: flex;
		align-items: center;
		.badge{
			padding: 3px 5px;
			margin-left:auto;
		}
        i{
            font-size: 1.125rem;
			width : 2.5rem;
            padding-right: 1rem;
			text-align:center;
            color: var(--text);
        }
        svg{
			width: 1.45rem;
            margin-right: 1rem;
        }

        &.active{
            color: var(--primary);
            background-color: var(--rgba-primary-1);
            span.badge{
                background-color: var(--primary);
            }

            i{
                color: var(--primary);
            }
        }
        &.change{
            margin-bottom: 0;
        }
     
        &:hover{
            background-color: var(--rgba-primary-1);
           
            i{
                color: var(--primary);
            }
            svg{
                path{
                    fill: var(--primary);
                    stroke: var(--primary);
                }
            }
        }
    }
}
.nav-tabs{
   &.mail-tab{
    li{
        border-bottom: 1px dashed $border;     
        
        .nav-link{
           color:var(--primary);
          

            &.style-1{
                position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        background-color: var(--secondary);
                        top: 0;
                        left: 0;
                        height: 123px;
                        width: 4px;
                    }
                }
                &.style-2{
                position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        background-color: $success;
                        top: 0;
                        left: 0;
                        height: 123px;
                        width: 4px;
                    }
                
                }
            
                padding: .75rem 1.5rem;
                border-radius: 0;
                width: 100%;
                text-align: left;
                cursor: pointer;
              
                
                
                &:hover{
                    border-color:transparent;
                }
                &.active{
                    background-color: var(--rgba-primary-1);
                    border-color:transparent;
                    position: relative;
                    width: 100%;
                    &:after{
                        content: "";
                        position: absolute;
                        background-color: var(--primary);
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 4px;
                    }
                    
                }
            


        }
    }
       
        
            
        
    }
}

.mail-right-bx{
    p{
        white-space: pre-line;
    }
}

.email-height{
    min-height: auto;
}
@include respond('tab-land'){
    .read-content-bx{
        display: none;
    }
   
}







.contacts-search-1{
   border-bottom: 1px solid $border;
}
.mail-left-body{
    border-right: 1px solid $border;
    .ic-scroll{
        scrollbar-width:none;
    }
}
.inbox{
    display: flex;
    align-items: start;
    p{
		color: var(--text);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 0;
		font-size: .85rem;
	}
}
.empty-msg-bx{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    
}
@include respond ('tab-land'){
    .inbox-area-list{
        .height800{
            height: 58rem;
        }
    }
}



// email-send
.card{
    &.ic-send-bx{
        border: 1px dashed var(--border-dark);
        box-shadow: unset;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 2px solid $border-color;
            margin-right: 8px;
        }
    
        
    }
}
.delete-icon-bx{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    background-color: $danger;
    margin-bottom: 15px;
    i{
        font-size: 30px;
        color:$white;
        line-height: 2;
    }
}
.status-select {
	width:auto!important;
	.btn{
		    padding: 2px 10px;
			font-size: 12px ;
			font-weight: 500 ;
			border: 0 ;
			border-radius: 4px;
			line-height: 1.8rem ;
			height: 36px;

	}
	[title="Testing"]{
		background-color:rgba($warning , 0.6) ;
		color:$warning;		
	}
	[title="Pending"],[title="Low"]{
		background-color:rgba($danger , 0.1);
		color:$danger;		
	}
	[title="In Progress"]{
		background-color:rgba(187, 107, 217, 0.1);
		color:$purple;		
	}
	[title="Complete"],[title="High"]{
		background-color:rgba($success , 0.1);
		color:$success;		
	}
	[title="Medium"]{
		background-color:rgba(44, 44, 44, 0.1) ;
		color:#888888;		
	}
}
