.i-false:after {
  content: none !important;
}

.taginput-data .rs-picker .rs-tag {
  background-color: #e5e5e5;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
  display: inline-block;
}

.aikitaccordion .accordion-button::after {
  content: none;
}

.aikitaccordion .accordion-button:not(.collapsed)::after {
  content: none;
}

.aikitaccordion .prompt-header {
  padding: 0;
  margin-bottom: 1.25rem;
}

.aikitaccordion .accordion-item {
  margin-bottom: 0;
}
[data-theme-version="dark"] .aikitaccordion .accordion-button {
 background-color: #272627 !important;
}

.leftpadaccordion span {
  padding-left: 55px;
}

.leftpadaccordion .accordion-button {
  border-radius: 0 !important;
}

[data-theme-version="dark"] .leftpadaccordion .accordion-button {
  background-color: var(--body-bg);
}

.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border: 0 !important;
}

.ck.ck-input {
  background-color: transparent !important;
}

[data-theme-version="dark"] .ck.ck-dialog,
[data-theme-version="dark"] .ck-link-form {
  background-color: #171617 !important;
}

[data-theme-version="dark"] .select2dark .css-1dimb5e-singleValue {
  color: #7e7e7e !important;
}

[data-theme-version="dark"] .select2dark .css-t3ipsp-control,
[data-theme-version="dark"] .select2dark .css-13cymwt-control,
[data-theme-version="dark"] .select2dark .css-1nmdiq5-menu{
  background-color: #171617 !important;
}
[data-theme-version="dark"] .select2dark .css-13cymwt-control {
  border-color: #454454 !important;
}

.promtaccordion .accordion-button:not(.collapsed),
.promtaccordion .accordion-button {
  background-color: transparent !important;
}

.promtaccordion .accordion-item:first-of-type .accordion-button {
  border: 0;
  padding: 0;
}

.promtaccordion .accordion-item:first-of-type .accordion-button:hover {
  border: 0;
}

.promtaccordion .accordion-item:first-of-type .accordion-button:focus {
  box-shadow: none;
  border: 0;
}

.promtaccordion .accordion-item:first-of-type .accordion-button:not(.collapsed) {
  border: 0;
  box-shadow: inset 0 calc(-0 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color),
}

[data-theme-version="dark"] .taginputdark .rs-picker-textbox {
  background-color: #171617 !important;
  border: 0;
  margin-right: 0px !important;
}

.timepick .react-time-picker__wrapper {
  border: 0;
}

.ampmlabel .react-time-picker__inputGroup__amPm {
  display: none;
}

.lh-1-6 {
  line-height: 1.6 !important;
}

[data-theme-version="dark"] .followdeal .followdealin {
  background-color: rgb(61 60 61) !important;
}

[data-theme-version="dark"] .svg-details>path {
  fill: #fff;
}

[data-theme-version="dark"] .react-time-picker__clock-button svg {
  stroke: white !important;
  fill: rgb(0, 0, 0) !important;
}

.orderchart .apexcharts-canvas {
  top: 23px;
}

[data-theme-version="dark"] .clearallselect {
  color: #fff;
}

.elementmultiselect .dropdown-menu .btn-group {
  display: none;
}

.apexchartpie .apexcharts-legend {
  display: none;
}

.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #ffffff !important;
  left: 0 !important;
}

.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #ffffff !important;
  right: 0 !important;
}

.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #ffffff !important;
  top: 0 !important;
}

.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #ffffff !important;
  bottom: 0 !important;
}

.popbefore .popover-header {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.popbefore {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
[data-theme-version="dark"] .popbefore .popover-body{
  background-color: #000 !important;
}

.promtactive .form-check-label.active {
  background-color: #e6f0ff !important;
  border-radius: 8px;
  padding: 10px;
}