[data-theme-version="dark"] {
    &[data-layout="vertical"]{
		&[data-sidebar-position="fixed"]{
			.header{
				border-color:$d-border;
			}
		}
	}
    .header {
		border-color:$d-border;
    }

    .header-left {
        .dashboard_bar{
			color:$white;
		}
    }
	.search-area{
		.form-control{
			background:#2c2c2c;
		}
		.input-group-text{
			border:0;
			background:#2c2c2c;
			a{
				color:#4f7086;
			}
		}
	}

    .header-right {
		
		.notification_dropdown .nav-link{
			/* background: $d-bg!important; */
			.badge{
				border-color:$dark-card;
			}
		}
        .dropdown {
            .nav-link {
				color: $white;
                &:hover {
                    background:rgba(255, 255, 255, 0.10);
                }
            }
        }	
    }
	
	.nav-header .hamburger .line{
		background:$white!important;
	}
	.menu-toggle .nav-header .nav-control .hamburger .line {
		background-color: $white !important;
	}
	.header-left{
		.search-area{
			border-color:#303030;
			box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
			.input-group-text{
				background-color:#272627;
			}
			.form-control{
				background-color:#272627;
			}
		}
	}
}	