.depostit-card {
	overflow: hidden;
	z-index: 1;

	.depostit-card-media {
		position: relative;
		z-index: 2;

		h3 {
			font-weight: 600;
			margin: 0;
			line-height: 1.346;
		}

		h6 {
			font-weight: 400;
			margin: 0;
		}

		&.style-1 {
			padding: unset;
		}
	}

	.progress-box {
		margin-top: 0.625rem;

		.progress {
			height: 10px;
			margin-top: 0.188rem;
			background-color: #E6EAEE;
		}
	}
}

.same-card {
	.depostit-card-media {
		padding: 18px 20px;
	}
}

.rainbow-box {
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--primary);
		z-index: -1;
		border-radius: inherit;
		opacity: 0.7;
	}
}

.finance {
	h4 {
		font-size: 24px;
		color: $white;

		@include custommq($max: 106.25rem) {
			font-size: 20px;
		}
	}

	p {
		color: $white;
	}
}

.ratting-data {
	margin-left: 20px;

	h4 {
		font-size: 16px;
		font-weight: 600;
		color: white;
		margin-bottom: 0;
	}

	span {
		color: white;
		font-size: 12px;
	}

}

.chartBar1 {
	margin-top: -35px
}

.right-sign {
	position: absolute;
	top: 7rem;
	left: 6rem;

	@include respond ('tab-land') {
		display: none;
	}


}

.revenue-card {
	background-color: #003F88;
}

.revenue-date {
	h4 {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 0;
	}
}

.ttl-project {
	display: flex;
	justify-content: space-around;
	text-align: center;
	border-top: 1px solid $border-color;
	padding: 15px 0;
	overflow: hidden;

	.pr-data {
		position: relative;

		h5 {
			margin-bottom: 0;
		}

		&::after {
			content: "";
			position: absolute;
			top: -20px;
			right: -50px;
			width: 1px;
			height: 85px;
			background: $border-color;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	@include respond ('phone') {
		display: none;
	}

}

.d-items-2 {
	position: relative;
	padding-left: 20px;

	.svg-icon {
		margin-right: 10px;
		position: absolute;
		left: 0;
		top: 2px;

	}

	label {
		font-size: 14px;
		font-weight: 400;
	}

}

.active-projects {
	thead {
		tr {
			th {
				font-size: 13px;
				padding: 0.625rem 1.25rem !important;
				font-weight: 500;
				background-color: var(--rgba-primary-1) !important;
				border: 0;
				vertical-align: middle;
				color: var(--primary);

				&:last-child {
					text-align: right;
				}

				&:first-child {
					padding-right: 0;

					@include respond ('phone') {
						padding-left: 1.3rem !important;
					}

				}

			}

		}
	}

	tbody {
		tr {
			td {
				font-size: 13px;
				font-weight: 400;
				padding: 0.625rem 1.25rem;
				border-bottom: 1px solid rgba(0, 0, 0, 0.10);

				&:last-child {
					text-align: right;
				}

				&:first-child {
					padding-right: 0;
					padding-left: 1rem;

					@include respond ('phone') {
						padding-left: 1.4rem;
					}
				}
			}
		}
	}

	.tbl-caption {
		padding: 20px 16px;
	}

	.dt-buttons {
		float: unset;

		.dt-button {
			position: absolute;
			top: -44px;
			right: 14px;
			font-size: 13px ;
			color: var(--primary);
			font-weight: 400;
			padding: 6px 12px;
			border-radius: $radius-xs;
			background: var(--rgba-primary-1);

			@include respond ('phone') {
				right: -26rem;
			}

			&:hover {
				background: var(--primary);
				color: $white;
			}
		}
	}

	.dataTables_info {
		padding-left: 20px;
		font-size: 12px;
		padding-top: 1rem;
		color: var(--text-dark);

		@include respond ('phone') {
			text-align: center;
		}
	}

	.dataTables_wrapper .dataTables_paginate {
		padding-top: 1rem;
		padding-bottom: 0;

		@include respond ('phone') {
			justify-content: center !important;
		}
	}
}

.tbl-progress-box {
	display: flex;
	align-items: center;

	.progress {
		flex: 1;
		margin-right: 5px;
	}
}

.visitors-tabs,
.updates-tabs,
.support-tab {
	border: 0;

	.nav-item {
		.nav-link {
			padding: 8px 12px;
			border-radius: 0.375rem;
			background-color: #F3F5F8;
			margin: 0 5px;
			font-size: 13px;
			font-weight: 400;
			color: var(--secondary);
			border-color: transparent;

			&.active {
				background-color: var(--primary);
				color: white;
			}
			@include respond ('phone'){
				padding: 8px 10px;
			}
		}
	}
}

.tab-content {
	.support-list {
		border: 1px solid #D1DAEC;
		padding: 15px 15px;
		border-radius: $radius-sm;
		margin-bottom: 10px;
		transition: 0.6s;

		&:hover {
			background-color: #F8FCFF;
			border: 1px solid var(--primary);
			transition: 0.6s;
		}
	}
}

.avatar-card {
	@include transitionMedium;
	cursor: pointer;

	&:hover {
		border-color: var(--primary) !important;
		border-style: solid;
		background-color: var(--rgba-primary-1);
	}
}

.active-country {
	.country-list {
		padding: 12px 0;
		display: flex;
		border-bottom: 1px solid #E6E6E6;
		.progress-box {
			flex: 1;
		}

		img {
			margin-right: 12px;
			border-radius: 50%;
		}
	}
}
.active-country{
	margin-top: -60px;
}
.bootstrap-select {
	&.default-select {
		&.style-2 {
			.btn {
				border: 0 !important;
				width: auto;
				box-shadow: none;
				color: var(--primary) !important;
			}
		}
	}
}
.analytics-bg{
	background-color: #E7EAE1;
}
[data-nav-headerbg="color_4"]{
	.brand-logo{
		.logo-abbr{
			path{
				fill:#FDC500!important;
			}
		}
	}
}